<%- include("../navegacion/head.ejs") %>

<section class="login-admin">
  <form action="/admin/login" method="post">
    <h1>iniciar seccion</h1>
    <input
      type="text"
      name="usuario"
      id="usuario"
      placeholder="usuario"
      required
    />
    <input
      type="password"
      name="password"
      id="password"
      placeholder="password"
      required
    />
    <input type="submit" value="iniciar seccion" />

    <p>email: emilio@app.com</p>
    <p>pass: emilio</p>
  </form>

 
</section>



<%- include("../navegacion/foot.ejs") %>
