<header>
  <nav>
    <ul>
      <li><a href="/admin/salir">productos</a></li>
      <li><a href="/admin/categorias">categorias</a></li>
      <li><a href="/admin/compras">compras</a></li>
      <li><a href="/">salir</a></li>
    </ul>
  </nav>
</header>
