<%- include("../navegacion/head.ejs") %>
<header>
  <div class="logo">
    <h1 style="color: aliceblue">ropa deportiva</h1>
  </div>
  <nav>
    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="/">Productos</a></li>
      <li><a href="/admin/login">login</a></li>
    </ul>
  </nav>
</header>